<h1>Welcome <%=@user.username%></h1>

<% @user.pages.each do |p| %>
<p>Title: <%= p.title %>  Content: <%= p.content %></p>
<!-- add edit link  -->
<% end %>

<a href="/pages/<%= @user.id %>/new">Create New Page</a>
