show.erb



<h1>Homepage for <%= current_user.username %></h1>

<% current_user.pages.each do |p| %>
<%= p.title %>
<%= p.content %>
<% end %>

<hr>
<a href="/pages/new">Create New Page</a>
<a href="/pages/#{current_user.id}">Edit Current Pages</a>
