<h1>New User Signup Page</h1>

<form class="" action="/users/signup" method="post">
  <input type="text" name="username" value="">
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Signup">
</form>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
