<% if current_user.id == session[:id] %>

<h1>Welcome!<%= current_user.username %></h1>

index.erb

<% if flash.has?(:message) %>
<h3>  <%= flash[:message] %> </h3>
<% end %>


<a href="#">Edit Page</a>
<a href="#">View Page</a>

<br><br><hr>
<a href="#">Create New Page</a>

<% else %>
<h1>You must be logged in to view this page! Nice try!</h1>
<% end %>
