
<% if current_user.id == params[:id].to_i %>
<h1>New page for<%= @user.username %></h1>
<div class="">
<form class="" action="/pages/<%= @user.id %>" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" value="" id="title">
    <br>
    <br>
    <label for="content">Content</label>
    <textarea name="content" value="" rows="8" cols="30" id="content"></textarea>
    <input type="submit" name="" value="Save">
</form>
</div>
<% else %>
<h1>You must be logged in to view this page! Nice try!</h1>
<% end %>
