<h1><%= @page.title %></h1>

<h4><%= @page.content %></h4>

<div class="">
  <a href="/pages/edit">Edit This Page</a>


  <form class="" action="/<%= @title %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Page">
  </form>
</div>
