
<h1> Welcome. Click page link below to edit page.</h1>

<a href="/pages/<%= @page.id %>/edit"><%= @page.wiki_wordify %></a>
<p>Content:</p>  <%= @page.content %>


<hr>
<a href="/pages/new">Create New Page</a>
<a href="/pages">Homepage</a>
<a href="/users/logout">Logout</a>
