
pages/show.erb

<h1> Welcome</h1>

<p>Title: </p>  <%= @page.title %>
<p>Content:</p>  <%= @page.content %>


<hr>
<div class="">
  <a href="/pages">Edit This Page</a>
<a href="/pages/new">Create New Page</a>
<a href="/users/logout">Logout</a>

</div>
