<div class="">
  <header></header>
  <div class="">


      <h1>Welcome!</h1>

      <p><a href="/users/signup">Signup for an account</a></p>
      <p><a href="/users/login">Login to an existing account</a></p>

  </div>
</div>
