<div class="">
  <header></header>
  <div class="">
    <h2>Sinatra Wiki Project</h2>

    <div class="">
      <h1>Welcome!</h1>

      <p>  <a href="/new">Create a new page</a>  </p>
    </div>



  </div>
</div>
