<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Wiki Project</h2>

    <div class="content">
      <h1>Welcome!</h1>

      <p>  <a href="/new">Create a new page</a>  </p>
    </div>



  </div>
</div>
