<div class="">
  <header></header>
  <div class="">
    <h2>Sinatra Wiki Project</h2>

      <h1>Welcome!</h1>

      <p><a href="/users/signup">Signup</a></p>
      <p><a href="/users/login">Login</a></p>

  </div>
</div>
